.skills{
    height: 100vh;
}
.skills-container{
    width: calc(100vw-5vw);
    padding: 20px 5vw 0 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    z-index: 9;
}
.skills-cards{
    background-color: rgb(35, 35, 35);
    height: 90vh;
}
.skills h3{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}
.skills-heading{
    text-align: center;
    color: rgb(43, 43, 43);
}

.skills-show{
    background-color: #535252;
    padding: 10px;
    margin: 20px 10px;
}
.skils-show-title{
    display: flex;
    justify-content: space-between;
}
.ant-proccess-text{
    color: white !important;
    background-color: white !important;
    
}
.ant-progress-inner{
    background-color: white !important;
}

.skills-show-circle{
    background-color: #535252;
    padding: 10px;
    margin: 20px 10px;
}
.skill-proccess-circle{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}