.navbar{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 0 70px;
    backdrop-filter: blur(10px);
}
.navbar-image-card{
    display: flex;
    align-items: center;
}
.navbar-image{
    width: 200px;
}
.navbar-item-box{
    display: flex;
    align-items: center;
}
.navbar-item-box a{
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
}
/* .navbar-item-box a:hover{
    color: #29999d !important;
} */
.navbar-item{
    font-weight: 600;
    cursor: pointer;
}

/* .active{
    color: #29999d !important;
    border-bottom: 1px solid #29999d;
} */